@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  
  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    3.1. Navigation / .navbar
  4. Content / .content
		4.1. Index
		4.2. Amenities
		4.3. Floor-plan
		4.4. Enquire
    
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  
  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  
  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}


/* ==========================================================================
   2. Body
   ========================================================================== */

.container-index {
	width: 100%;
	min-height: 1149px;
	margin: 0 auto;
	background-image: url(../images/BG.4.jpg);
	background-size: cover;	
}

.container-enquire {
	width: 100%;
	min-height: 1149px;
	margin: 0 auto;
	background-image: url(../images/BG.1.jpg);
	background-size: cover;	
}

.container-amenities {
	width: 100%;
	min-height: 1149px;
	margin: 0 auto;
	background-image: url(../images/BG.2.jpg);
	background-size: cover;	
}

.container-floor {
	width: 100%;
	min-height: 1149px;
	margin: 0 auto;
	background-color: #222625;
	background-size: cover;
}

/* ==========================================================================
   2. Header / .header
   ========================================================================== */

header {
	width: 100%;
	position: fixed;
	z-index: 1000;
	background: #000;
}

.header-wrapper {
	width: 990px;
	margin: 0 auto;
}

h1 {
	width: 191px;
	height: 193px;
	margin: 0 0 0 auto;
	display: inline-block;
	position: absolute;
	text-indent: -9999em;
}

h1 a {
	width: 191px;
	height: 193px;
	float: left;
	background-image: url(../images/logo.ds1.jpg);
}

a {
	outline: none;
}

/* 2.1. Navigation / .navbar
   ========================================================================== */

nav ul {
	margin: 13px 0 13px;
}

nav li,
nav li a {
	display: inline-block;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 11px;
}

nav {
	display: inline-block;
	position: relative;
	left: 214px;
}

nav a {
	color: #fff;
	text-decoration:none;	
}

nav a:hover {
	color: #86744e;
	text-decoration: none;
}

.active a {
	color: #86744e;
}

.index {
	padding: 0 17px 0 2px;
	border-right: 1px solid #86744e;	
}

.gallery {
	padding: 0 10px 0 13px;
	border-right: 1px solid #86744e;
}

.about {
	padding: 0 20px 0 13px;
	border-right: 1px solid #86744e;
}

.location {
	padding: 0 19px 0 11px;
	border-right: 1px solid #86744e;
}

.amenities {
	padding: 0 16px 0 15px;
	border-right: 1px solid #86744e;
}

.floor {
	padding: 0 16px 0 12px;
	border-right: 1px solid #86744e;
}

.enquire {
	padding: 0 0 0 13px;
}

/* ==========================================================================
   4. Content / .content
   ========================================================================== */

/* 4.1. Index page styling
   ========================================================================== */
.index-wrapper {
	width: 672px;
	margin: 0 auto;
}

.index-content h2 {
	width: 672px;
	padding-top: 68px;
	margin: 0 0 0 55px;
	color: #FFF;
	line-height: 46px;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 46px;
	font-weight: normal;
}

.index-content span {
	display: block;
}

/* 4.2. Amenities sheet styling
   ========================================================================== */

.content-wrapper {
	width: 990px;
	margin: 0 auto;
}

.content-amenities p {
	padding: 86px 0 0 0;
	margin: 0 0 12px 215px;
	color: #FFF;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 18px;
	line-height: 21px;
}

.content-amenities span {
	display: block;
}

.spots {
	width: 990px;
	margin: 0 auto;
}

.spots p {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
}

.spots a {
	text-indent: -9999em;
}

.spots span {
	display: block;
}

/*first line image styling*/
.first-line,
.second-line,
.third-line {
	width: 258px;
	margin-top: 33px;
	display: inline-block;
}

.fourth-line {
	margin-top: 30px;
	display: inline-block;
}

.allpress {
	margin-bottom: 8px;
}

.allpress a {
	width: 191px;
	height: 134px;
	margin: 22px 69px 0 0;
	display: inline-block;
	background-image: url(../images/allpressespresso_off.jpg);
}

.allpress a:hover{
	background-image: url(../images/allpressespresso_on.jpg);
}
.allpress p {
	margin: 0 69px 0 0;
	color: #FFF;
}

.prego {
	margin-bottom: 8px;
}
.prego a {
	width: 191px;
	height: 134px;
	margin: 0 69px 0 0;
	display: inline-block;
	background-image: url(../images/logo.prego.png);
}

.prego a:hover {
	background-image: url(../images/logo.prego.hover.png);
}
.prego p {
	margin: 0 69px 0 0;
	color: #FFF;
}

.nw {
	margin-bottom: 8px;
}
.nw a {
	width: 191px;
	height: 134px;
	margin: 0 69px 0 0;
	display: inline-block;
	background-image: url(../images/allpressespresso_off.jpg);
}

.nw a:hover {
	background-image: url(../images/allpressespresso_on.jpg);
}

.nw p {
	margin: 0 69px 0 0;
	color: #FFF;
}

.drake a {
	width: 191px;
	height: 134px;
	margin: 0 69px 0 0;
	display: inline-block;
	background-image: url(../images/allpressespresso_off.jpg);
}

.drake a:hover {
	background-image: url(../images/allpressespresso_on.jpg);
}

.drake p {
	margin: 0 69px 0 0;
	color: #FFF;
}

/*second line image styling*/
.city {
	margin-bottom: 8px;
}

.city a {
	width: 191px;
	height: 134px;
	margin: 22px 69px 0 0;
	display: inline-block;
	background-image: url(../images/allpressespresso_off.jpg);
}

.city a:hover {
	background-image: url(../images/allpressespresso_on.jpg);
}

.city p {
	margin: 0 69px 0 0;
	color: #FFF;
}

.la-zeppa {
	margin-bottom: 8px;
}
.la-zeppa a {
	width: 191px;
	height: 134px;
	margin: 0 69px 0 0;
	display: inline-block;
	background-image: url(../images/logo.prego.png);
}

.la-zeppa a:hover {
	background-image: url(../images/logo.prego.hover.png);
}

.la-zeppa p {
	margin: 0 69px 0 0;
	color: #FFF;
}

.sale-street {
	margin-bottom: 8px;
}

.sale-street a {
	width: 191px;
	height: 134px;
	margin: 0 69px 0 0;
	display: inline-block;
	background-image: url(../images/allpressespresso_off.jpg);
}

.sale-street a:hover {
	background-image: url(../images/allpressespresso_on.jpg);
}

.sale-street p {
	margin: 0 69px 0 0;
	color: #FFF;
}

.westhaven a {
	width: 191px;
	height: 134px;
	margin: 0 69px 0 0;
	display: inline-block;
	background-image: url(../images/allpressespresso_off.jpg);
}

.westhaven a:hover {
	background-image: url(../images/allpressespresso_on.jpg);
}

.westhaven p {
	margin: 0 69px 0 0;
	color: #FFF;
}

/*third line image styling*/
.clooney {
	margin-bottom: 8px;
}

.clooney a {
	width: 191px;
	height: 134px;
	margin: 22px 69px 0 0;
	display: inline-block;
	background-image: url(../images/allpressespresso_off.jpg);
}

.clooney a:hover {
	background-image: url(../images/allpressespresso_on.jpg);
}
.clooney p {
	margin: 0 69px 0 0;
	color: #FFF;
}

.les-mills {
	margin-bottom: 8px;
}

.les-mills a {
	width: 191px;
	height: 134px;
	margin: 0 69px 0 0;
	display: inline-block;
	background-image: url(../images/logo.prego.png);
}

.les-mills a:hover {
	background-image: url(../images/logo.prego.hover.png);
}

.les-mills p {
	margin: 0 69px 0 0;
	color: #FFF;
}

.sky-city {
	margin-bottom: 8px;
}
.sky-city a{
	width: 191px;
	height: 134px;
	margin: 0 69px 0 0;
	display: inline-block;
	background-image: url(../images/allpressespresso_off.jpg);
}

.sky-city a:hover{
	background-image: url(../images/allpressespresso_on.jpg);
}

.sky-city p {
	margin: 0 69px 0 0;
	color: #FFF;
}

.victoria-park a {
	width: 191px;
	height: 134px;
	margin: 0 69px 0 0;
	display: inline-block;
	background-image: url(../images/allpressespresso_off.jpg);
}

.victoria-park a:hover {
	background-image: url(../images/allpressespresso_on.jpg);
}

.victoria-park p {
	margin: 0 69px 0 0;
	color: #FFF;
}

/*fourth line styling*/
.didas {
	margin-bottom: 8px;
}
.didas a {
	width: 191px;
	height: 134px;
	margin: 22px 0 0 0;
	display: inline-block;
	background-image: url(../images/allpressespresso_off.jpg);
}

.didas a:hover {
	background-image: url(../images/allpressespresso_on.jpg);
}

.didas p {
	margin: 0 0 0 0;
	color: #FFF;
}

.libertine {
	margin-bottom: 8px;
}

.libertine a {
	width: 191px;
	height: 134px;
	margin: 0 0 0 0;
	display: inline-block;
	background-image: url(../images/logo.prego.png);
}

.libertine a:hover {
	background-image: url(../images/logo.prego.hover.png);
}

.libertine p {
	margin: 0 0 0 0;
	color: #FFF;
}

.bird-cage {
	margin-bottom: 8px;
}

.bird-cage a {
	width: 191px;
	height: 134px;
	margin: 0 0 0 0;
	display: inline-block;
	background-image: url(../images/allpressespresso_off.jpg);
}

.bird-cage a:hover {
	background-image: url(../images/allpressespresso_on.jpg);
}

.bird-cage p {
	margin: 0 0 0 0;
	color: #FFF;
}

.viaduct a {
	width: 191px;
	height: 134px;
	margin: 0 0 0 0;
	display: inline-block;
	background-image: url(../images/allpressespresso_off.jpg);
}

.viaduct a:hover {
	background-image: url(../images/allpressespresso_on.jpg);
}

.viaduct p {
	margin: 0 0 0 0;
	color: #FFF;
}

/* 4.3. Floor page styling
   ========================================================================== */

.floor-wrapper {
	width: 990px;
	margin: 0 auto;
}

.floor-level h2 {
	width: 573px;
	padding: 72px 0 0;
	margin: 0 auto 77px;
	color: #86744e;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 27px;
}

.top-floor a {
	text-indent: -9999em;
}

.floor-plan {
	width: 960px;
	height: 605px;
	margin: 0px;
	display: block;
	background: url(../images/floor.landscape.floor-plan-bg.jpg) no-repeat ;
	position: relative;
}

.floor-plan .top-floor:hover {
	width: 852px;
}

.top-floor {
	width: 852px;
	padding: 10px 10px 0;
	margin: 50px 10px 10px 89px;
	position: absolute;
}

.senior {
	width: 175px;
	height: 118px;
	display: inline-block;
}

.senior a {
	width: 175px;
	height: 118px;
	display: block;
}

.senior a:hover {
	position: absolute;
	left: 5px;
	background: url(../images/floor.landscape.senior-office.jpg) no-repeat;
}

.office-one {
	width: 133px;
	height: 118px;
	display: inline-block;
}

.office-one a {
	width: 133px;
	height: 118px;
	display: block;
}

.office-one a:hover {
	position: absolute;
	left: 187px;
	background: url(../images/floor.landscape.office-one.jpg) no-repeat;
}

.office-two {
	width: 134px;
	height: 118px;
	display: inline-block;
}

.office-two a {
	width: 134px;
	height: 118px;
	display: block;
}
.office-two a:hover {
	position: absolute;
	left: 328px;
	background: url(../images/floor.landscape.office-two.jpg) no-repeat;

}

.utilities {
	width: 136px;
	height: 119px;
	display: inline-block;
}

.utilities a {
	width: 136px;
	height: 119px;
	display: block;
}

.utilities a:hover {
	position: absolute;
	right: 268px;
	background: url(../images/floor.landscape.utilities.jpg) no-repeat ;
}

.female {
	width: 114px;
	height: 111px;
	display: inline-block;
}

.female a {
	width: 114px;
	height: 111px;
	display: block;
	}

.female a:hover {
	position: absolute;
	top: 11px;
	right: 101px;
	background: url(../images/floor.female-male.jpg) no-repeat ;
}

.shower-room {
	width: 93px;
	height: 111px;
	display: inline-block;
}

.shower-room a {
	width: 93px;
	height: 111px;
	display: block;
	}

.shower-room a:hover {
	position: absolute;
	right: 9px;
	top: 10px;
	background: url(../images/floor.landscape.shower.jpg) no-repeat ;
}

.senior-office {
	width: 119px;
	height: 114px;
	display: inline-block;
	position: absolute;
	top: 176px;
	left: 60px;
}

.senior-office a {
	width: 119px;
	height: 114px;
	display: block;
	}

.senior-office a:hover {
	background: url(../images/floor.landscape.senior-office-two.jpg) no-repeat ;
}

.meeting-area {
	width: 156px ;
	height: 166px;
	display: inline-block;
	position: absolute;
	top: 166px;
	left: 236px;
}

.meeting-area a {
	width: 156px ;
	height: 166px;
	display: block;
	}

.meeting-area a:hover {
	background: url(../images/floor.landscape.open-meeting-office.jpg) no-repeat ;
}

.personal {
	width: 69px ;
	height: 176px;
	display: inline-block;
	position: absolute;
	top: 166px;
	left: 393px;
}

.personal a {
	width: 69px ;
	height: 176px;
	display: block;
	}

.personal a:hover {
	background: url(../images/floor.landscape.personal-assistant.jpg) no-repeat ;
}

.lobby {
	width: 157px ;
	height: 303px;
	display: inline-block;
	position: absolute;
	top: 128px;
	right: 104px;
}

.lobby a {
	width: 157px ;
	height: 303px;
	display: block;
	}

.lobby a:hover {
	background: url(../images/floor.landscape.lobby.jpg) no-repeat ;
}

.deck {
	width: 249px ;
	height: 112px;
	display: inline-block;
	position: absolute;
	top: 436px;
	left: -2px;
}

.deck a {
	width: 249px ;
	height: 112px;
	display: block;
}

.deck a:hover {
	background: url(../images/floor.landscape.deck.jpg) no-repeat ;
}

.kitchen {
	width: 153px;
	height: 101px;
	display: inline-block;
	position: absolute;
	right: 127px;
	top: 438px;
}

.kitchen a {
	width: 153px;
	height: 101px;
	display: block;
}

.kitchen a:hover {
	background: url(../images/floor.landscape.kitchen-room.jpg) no-repeat ;
}

.server {
	width: 116px ;
	height: 101px;
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 438px;
}

.server a {
	width: 116px ;
	height: 101px;
	display: block;
}

.server a:hover {
	background: url(../images/floor.landscape.server-room.jpg) no-repeat ;
}

/* 4.4. Enquire sheet styling
   ========================================================================== */

.enquire-wrapper {
	width: 920px;
	margin: 0 auto;
}

.content-enquire {
	margin-left: 181px;
	padding-top: 83px;
}

.content {
	color: #FFF;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 18px;
}

.content p {
	margin: 0 0 10px 0;
}

address {
	font-style: normal;
}
.contact {
	color: #FFF;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
	line-height: 16px;
}

.contact a {
	display: block;
	color: #fff;
	font-size: 14px;
	text-decoration: none;	
}

.click {
	width: 224px;
	height: 35px;
	margin: 27px 0 15px 0;
}

.click a {
	padding: 6px 9px;
	background-color: #86744e;
	color: #FFF;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 16px;
	text-decoration: none;
}

.click a:hover {
	color: #86744e;
}

span {
	display:block;
}

.bayels {
	width: 132px;
	height: 33px;
	text-indent: -9999em;
	background-image: url(../images/bayels.logo.jpg);
} 

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  
  Header nav: #fff (white)
  Header nav a (hover): #86744e 
  Header nav a (active): #86744e (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  
  Header nav a: 14px 'Trebuchet MS', sans-serif;
  View-register li a : 14px 'Trebuchet MS', sans-serif;
  -------------------------------------------------------------------*/

 